body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-right: 0;
  text-align: center;
  border: solid 10px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
  background-color: #353535;
}
.explanation {
  position: relative;
  color: #ffffff;
  padding: 1.5rem;
}
.text {
  color: #ffffff;
  text-decoration: underline;
}
.setBottom {
  position: absolute;
  bottom: 10px;
  right: 50px;
}
